<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        angular.module('app', [])
            .controller('UserController', function($scope) {

                $scope.user = {};

                $scope.submitForm = function() {
                    if ($scope.userForm.$valid) {
                        $scope.message = 'Form submitted successfully!';
                    }
                }

            });
    </script>
</head>

<body>

<div ng-controller="UserController">

    <form name="userForm" ng-submit="submitForm()">

        <label>Name:</label>
        <input type="text" name="name" ng-model="user.name" required>

        <label>Email:</label>
        <input type="email" name="email" ng-model="user.email" required>

        <label>Phone:</label>
        <input type="tel" name="phone" ng-model="user.phone" required>

        <button type="submit">Submit</button>

    </form>

    <p>{{message}}</p>

</div>

</body>

</html>